{{ form_start(postsform) }}
    {# {{ form_widget(postsform) }} #}
        <div class="row" "col-8">
            <div class="col-4">{{ form_row(postsform.date) }}</div>
            <div class="col-6">
                <div class="col">{{ form_row(postsform.category) }}</div>
                <div class="col">{{ form_row(postsform.location) }}</div>
            </div>
    
            <div class="row">
                <div class="col-4">{{ form_row(postsform.details.tattoo) }}</div>
                <div class="col-4">{{ form_row(postsform.details.chip) }}</div>
                <div class="col-4">{{ form_row(postsform.details.gender) }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form_row(postsform.details.species) }}</div>
                <div class="col-6">{{ form_row(postsform.details.breed) }}</div>
            </div>
            <div class="row">
                <div class="col-4">{{ form_row(postsform.details.fur)}}</div>
                <div class="col-4">{{ form_row(postsform.details.color)}}</div>
                {# <div class="col-4">{{ form_row(postsform.details.color2)}}</div> #}
            </div>
            {{ form_row(postsform.description) }}
            {{ form_row(postsform.images) }}
            <div class="col-4">
            <button class="btn btn-success">{{ button_label|default('Enregistrer l\'Annonce') }}</button>
            </div>
        </div>
{{ form_end(postsform) }}
