{% extends 'base.html.twig' %}

{% block title %}Posts index{% endblock %}

{% block body %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h2 class="h1">Mes Annonces</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.date ? post.date|date('Y-m-d') : '' }}</td>
                            {# <td>{{ post.category }}</td> ça bug... va savoir pourquoi ! #}
                            <td>{{ post.description }}</td>
                            <td>
                                <a href="{{ path('posts_show', {'id': post.id}) }}">afficher</a>
                                <a href="{{ path('posts_edit', {'id': post.id}) }}">modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Vous n'avez posté aucune annonce.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('posts_new') }}">Nouvelle Annonce</a>
            </div>
        </div>
    </div>
</div>
            
{% endblock %}
