{% extends 'base.html.twig' %}

{% block title %}New Posts{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h2 class="h1">Nouvelle Annonce</h2>
                {{ include('posts/_form.html.twig') }}
                <a href="{{ path('posts_index') }}">Retournez sur Mes Annonces</a>
            </div>
        </div>
    </div>

{% endblock %}
