{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Posts</h1>

    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-md-6">
                <section class="widget">
                    <div class="widget-body">
                        <table class="col-sm-6">
                            <tbody>
                                <h6>Annonce n° : {{ post.id }}<h6>
                                <h5> {{ post.category.label }} le {{ post.date ? post.date|date('d-m-Y') : '' }}</h5>
                                <tr>
                                    <th>Animal</th>
                                    <td>{{ post.details.species.label }}</td>
                                </tr>
                                <tr>
                                    <th>Race</th>
                                    <td>{{ post.details.breed.label }}</td>
                                </tr>
                                <tr>
                                    <th>Pelage</th>
                                    <td>{{ post.details.color.label }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ post.description }}</td>
                                </tr>
                                {# pour l'image c'est la cata, on verra plus tard ! #}
                                {# <tr>
                                    <th>Photo</th>
                                    <td>{{ post.images }}</td>
                                </tr> #}
                            </tbody>
                        </table>
                        <div class="widget-top-overflow">
                            {# <img image ici > #}
                        </div>
                    </div>
                </section>
                <a href="{{ path('posts_index') }}">back to list</a>

                <a href="{{ path('posts_edit', {'id': post.id}) }}">edit</a>

                {{ include('posts/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
