{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}
    <div class="container d-flex flex-row justify-content-center">
        <div class="card mt-5 w-50">
            <div class="card-body">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté(e) en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
                        <div class="form-group">
                            <label for="inputMail">E-mail</label>
                            <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control" autocomplete="username" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Mot de Passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn btn-success" type="submit">
                        Se Connecter
                    </button>
                </form>

                {# Nouveau membre #}
                <div class="text-center text-lg-start mt-4 pt-2">
                    <p class="small fw-bold mt-2 pt-1 mb-0">Nouveau sur le site? <a href="{{ path('app_register') }}"
                        class="link-danger">Créer un compte</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
