{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <h1>Nouveau Compte</h1>
    </div>

    <div class="container d-flex flex-row justify-content-center">
        <div class="card mt-5 w-50">
            <div class="card-body">
                {{ form_start(registrationForm) }}
                    <div class="row">
                        <div class="col-3">{{ form_row(registrationForm.lastname, {'label' : 'Nom'}) }}</div>
                        <div class="col-3">{{ form_row(registrationForm.firstname, {'label' : 'Prénom'}) }}</div>
                    </div>
                    <div class = "row">
                        <div class="col-3">{{ form_row(registrationForm.nickname, {'label' : 'Pseudo'}) }}</div>
                        <div class="col-3">{{ form_row(registrationForm.phone, {'label' : 'Téléphone'}) }}</div>
                    </div>
                        <div class="col-3">{{ form_row(registrationForm.mail, {'label' : 'E-mail'}) }}</div>
                        <div class="col-3">{{ form_row(registrationForm.plainPassword, {label: 'Mot de Passe'}) }}</div>
                    {{ form_row(registrationForm.agreeTerms, {'label' : 'J\'accèpte les conditions'}) }}

                    <button type="submit" class="btn btn-success">S'enregistrer</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
