<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <div class="center-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Annonces
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Perdus</a></li>
                            <li><a class="dropdown-item" href="#">Volés</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Trouvés</a></li>
                            <li><a class="dropdown-item" href="#">Apperçus</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Que Faire?
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Vous avez Perdu votre animal</a></li>
                            <li><a class="dropdown-item" href="#">Vous avez apperçu/recueilli un animal</a></li>
                        </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="#{#{{path('associations')}}#}">Associations</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Éducateurs/Écoles</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Autres Sites</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div="col justify-content-right">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Chercher une Annonce" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Chercher</button>
            </form>
        </div>
</nav>
