<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu !{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascriptsHead %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

        {# header #}

        <span class="d-grid gap-2 d-md-flex justify-content-md-end">
            {# <button type="button" class="btn btn-success">Connexion</button>
                <a href="{{ path('app_login') }}" class="btn btn-success">Connexion</a> #}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ app.user.fullname }}
                    <br>
                    <a class="btn btn-success" href="{{ path('app_logout') }}" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" title="Cliquez pour vous déconnecter" data-content="Cliquez pour vous déconnecter">{% trans %}Déconnexion{% endtrans %}</a>
                    {# <a class="btn btn-primary btn-connexion" href="{{ path('profile') }}" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" title="<center><u>Vous avez un compte</u></center>" data-content="<center>Cliquez pour modifier votre profil</center>">{% trans %}Mon Compte{% endtrans %}</a> #}
                {% else %}
                    <a class="btn btn-success" href="{{ path('app_login') }}" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" title="Cliquez pour vous connecter" data-content="Cliquez pour vous connecter">{% trans %}Connexion{% endtrans %}</a>
                    <a class="btn btn-success" href="{{ path('app_register') }}" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" title="Cliquez pour créer un compte" data-content="Cliquez pour en créer un">{% trans %}Créer un Compte{% endtrans %}</a>
                {% endif %}
        </span>
        <div>
            <h1 class="text-center">
                Nous sommes Paw-Perdues
            </h1>
        </div>
            <div class="container">
                {{ include('home/part/_menu.html.twig') }}
            </div>

    </head>

    <body>
        {% block body %}
            
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
                    integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
