{% extends "base.html.twig" %}

{% block title %} Modification du Compte {% endblock %}

{% block body %}
    <div class="text-center"><h2>Modification du profil de {{app.user.firstname}} {{app.user.lastname}}</h2></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">{{ form_row(form.lastname) }}</div>
            <div class="col-6">{{ form_row(form.firstname) }}</div>
        </div>
        <div class="row">
            <div class="col-4">{{ form_row(form.nickname) }}</div>
            <div class="col-4">{{ form_row(form.phone) }}</div>
            <div class="col-4">{{ form_row(form.mail) }}</div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{%  endblock %}