{% extends "base.html.twig" %}

{% block title %} Mon Compte {% endblock %}

{% block body %}
    <div class="col-sm-4 container">
        {% for message in app.flashes('message') %}
            <div class="col text-center">
                <div class="alert alert-success" role="alert">Votre profil a été modifié avec succès !</div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center"><h2>Profil de {{app.user.nickname}}</h2></div>

    <div class="container">
        <div class="row">            
            <div class="col-sm-4 text-center">Nom :</div>
            <div class="col-sm-8">{{app.user.lastname}}</div>
            <div class="col-sm-4 text-center">Prénom :</div>
            <div class="col-sm-8">{{app.user.firstname}}</div>
            <div class="col-sm-4 text-center">E-mail :</div>
            <div class="col-sm-8">{{app.user.mail}}</div>
        </div>

        <div class="col-md-3 justify-text-center"> <a href="{{path('users_edit_profile') }}" class='btn btn-warning'> Modifier le profil</a></div>
    </div>
        <div class="text-center"><h2>Annonces de {{app.user.nickname}}</h2></div>
            {% for post in app.user.post_id %}
                <div class="col-sm-4 text-center">Titre :</div>
                <div class="col-sm-4 text-center">{{ post.images }}</div>
                <div class="col-sm-4 text-center">{{ post.date }} {{post.category}} </div>
            {% endfor %}
        </div>
        <div class="container">
        <div class"row">
                <div class="col-3"><a href="{{ path('posts_index') }}" class='btn btn-success'>Voir Mes Annonces</a></div>
                <div class="col-3"><a href="{{ path('posts_new') }}" class='btn btn-warning'>Créer une Annonce</a></div>
            </div>
        </div>
    
{%  endblock %}